*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.content {
  margin: 0 30px;
  display: grid;
  grid-template-areas:
  "result content__details";
  column-gap: 30px;
  align-items: flex-end;
}

.result {
  grid-area: result;
}

.content__details {
  grid-area: content__details;
  width: 100%;
  height: 100%;
}
/* <----------section="result"----------> */

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* form */

.search-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}
.search-form__fieldset {
  border: none;
}

.search-form__fieldset input[type="text"] {
  cursor: auto;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  margin-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor:pointer;
}

.search-form__textfield {
  min-width: 225px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  background-color: transparent;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #FFFFFF;
  color: #FFFFFF;
  padding: 2px 0;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible){
  outline: 1px solid #FFFFFF;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  display: block;
  outline: 1px solid #FFFFFF;
  width: 19px;
  height: 19px;
  padding:1px;
}

.search-form__checkbox[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  content:'';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__checkbox-list > .search-form__label:hover {
  text-decoration:underline;
  text-underline-position: under;
  text-decoration-style: solid;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  background-color: transparent;
  color: #fff;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  padding: 6px 73px;
  align-self: flex-end;
}

.button:focus {
  outline: none;
}

.button:focus-visible  {
  outline: 1px solid #FFFFFF;
  outline-offset: 2px;
}

.button:hover {
  text-decoration:underline;
  text-underline-position: under;
  text-decoration-style: solid;
}

.button:active {
  background-color: #545050;
}

/* <----------section="content__details"----------> */

.title {
  margin-bottom: 26px;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  overflow-y:auto;
  padding:0 3px 2px 2px;
  height: 298px;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap:30px 0;
  max-width: 390px;
}

.content__video-card {
  display: flex;
  align-content: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: hidden;
  padding-left: 2px;
}

.content__card-link {
  text-decoration: none;
  color:#fff;
  display:block;
}

.content__list-item:hover  .content__video-card-description-container {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
}

.content__card-link:focus {
  outline:none;
}

.content__list-item:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 6px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  width: 194px;
  flex-shrink: 0;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  overflow-wrap: anywhere;
}

.more-button {
  margin-top: 30px;
  width: 100%;
  height: 34px;
  /* inline-size: calc(100% - 4px);
  margin: 30px 2px 2px; */
}